/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

/* Header Section */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 20px 50px;
  background-color: #0056b3;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-img {
  height: 50px;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333;
}
