<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login Page</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <script type="text/javascript">
    function showAlertAndRedirect() {
      alert("Account details updated successfully ! You will now be redirected back to the login page.");
      window.location.href = "{{ url_for('home') }}";
    }
  </script>
</head>
<body>
  <div class="login-container">
    <div class="login-card">
      <h2 class="login-title">Login</h2>
      <form action="/login" method="POST">
        <div class="input-group">
          <label for="username">User ID</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="login-button">Login</button>
      </form>
      <div class="helper-links">
        <a href="#">Forgot password?</a>
        <a href="/register">Don't have an account? Register here</a>
      </div>
    </div>
  </div>
  {% if updated %}
  <script type="text/javascript">
    showAlertAndRedirect();
  </script>
  {% endif %}
</body>
</html>
